//White
$white-one: #fff;

//White-rgba
$white-rgba-one: rgba(255, 255, 255, .3);
$white-rgba-two: rgba(255, 255, 255, .9);

//Black
$black-one: #000000;
$black-two: #1F1F1F;

//Black-rgba
$black-rgba-one: rgba(0, 0, 0, .8);
$black-rgba-two: rgba(0, 0, 0, .25);
$black-rgba-three: rgba(0, 0, 0, .15);
$black-rgba-four: rgba(0, 0, 0, .4);
$black-rgba-five: rgba(0, 0, 0, .6);

//Grey
$grey-one: #9F9F9F;
$grey-two: #3E4E58;
$grey-three: #7D838A;
$grey-four: #F2F4F8;
$grey-five: #C2C2C2;
$grey-six: #E8ECF4;
$grey-seven: #DFDFDF;
$grey-eight: #6E7A82;

//Green
$green-one: #99CC33;
$green-two: #78A61E;
$green-three: #302B17;
$green-four: #021F0F;

//Green-rgba
$green-rgba-one: rgba(120,166,30,.8);
$green-rgba-two: rgba(120,166,30,.9);
$green-rgba-three: rgba(120,166,30,.97);

//Red
$red-one: #D70000;

//Red-rgba
$red-rgba-one: rgba(220, 53, 69, 0.9);




