//Way-img
$way-img: "../img/" !default;

//Way-fonts
$verdana: "../fonts/Verdana/" !default;
$philosopher: "../fonts/Philosopher/" !default;

//Font-family
$verdana-font: 'Verdana Pro', sans-serif;


$philosopher-font: 'Philosopher', sans-serif;

