// Google Tag Manager
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MPTRNJR');
// End Google Tag Manager

meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name="description" content="Дом престарелых Кемерово, Пансионат для престарелых Кемерово, Дом для инвалидов, Пансионат для пенсионеров, Удобный, современный пансионат для ваших близких и родных")
meta(name="keywords" content="Частный пансионат для престарелых, Дом для пожилых и инвалидов, Заказать номер близкому человеку")
meta(name='author' content='ООО Амелия')
meta(name='copyright' content='ООО Амелия')
meta(name='Publisher-Email' content='info@amelia42.ru')
meta(name='Publisher-URL' content='https://www.amelia42.ru/')
meta(name='robots' content='All')
meta(property="og:type" content="website")
meta(property="og:locale" content="ru_RU")
meta(property="og:title" content="Частный пансионат для престарелых | Дом для пожилых и инвалидов | Заказать номер близкому человеку")
meta(property="og:description" content="Дом престарелых Кемерово, Пансионат для престарелых Кемерово, Дом для инвалидов, Пансионат для пенсионеров, Удобный, современный пансионат для ваших близких и родных")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Частный пансионат для престарелых | Дом для пожилых и инвалидов | Заказать номер близкому человеку")
meta(name="twitter:description" content="Дом престарелых Кемерово, Пансионат для престарелых Кемерово, Дом для инвалидов, Пансионат для пенсионеров, Удобный, современный пансионат для ваших близких и родных")
meta(name="apple-mobile-web-app-capable" content="on")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="apple-mobile-web-app-title" content="Amelia")
meta(name="application-name" content="Amelia")
meta(name="theme-color" content="#72777a")
title Частный пансионат для престарелых | Дом для пожилых и инвалидов | Заказать номер близкому человеку
link(rel="icon" href="/favicon.ico" type="image/x-icon")
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(rel="manifest" href="manifest.json")
link(href='/assets/css/style.min.css?ver=0.2' rel='stylesheet')

// Marquiz script start
script(src="//script.marquiz.ru/v1.js" type="application/javascript")
script.
  document.addEventListener("DOMContentLoaded", function() {
    Marquiz.init({
      id: '5e943f130dc3f90044dd0a32',
      autoOpen: false,
      autoOpenFreq: 'once',
      openOnExit: false
    });
  });
// Marquiz script end






