extends ../templates/layouts/error/404-default

block vars
  -
    title = 'Home'
    stylePath=''

block content

  main.main.content(role='main')
    a.button.button__big.button__big_bg(href='/' title='' role='button')
      span Перейти к главной странице
      +arrow-white-right

































