mixin services-content
  .row
    .services__col
      article
        figure
          +doc
          figcaption
            h3.title.title__h3 Уход за пожилыми
            p.text.text__small-italic
              | Это чуткая забота, круглосуточный присмотр и помощь патронажных сестер,
              | обеспечение всем необходимым для комфорта постояльцев в загородном доме пансионате
    .services__col
      article
        figure
          +money
          figcaption
            h3.title.title__h3 Уход и проживание за пенсию
            p.text.text__small-italic
              | Подберем оптимальный вариант для поселения пожилого человека за пенсию в пансионат,
              | в том числе совместное проживание с близкими. Любые варианты и способы оплаты
    .services__col
      article
        figure
          +instrument
          figcaption
            h3.title.title__h3 Уход за больными
            p.text.text__small-italic
              | Деменцией, слепыми, послеоперационными и лежачими, болезнью Паркинсона и Альцгеймера,
              | психическими и онкобольными, с варикозом или после инфаркта миокарда
    .services__col
      article
        figure
          +massage
          figcaption
            h3.title.title__h3 Профессиональный массаж
            p.text.text__small-italic
              | Пожилым и лежачим больным улучшает самочувствие человека, придает ему жизненную энергию
              | и тонус, положительно влияет на организм
    .services__col
      article
        figure
          +training
          figcaption
            h3.title.title__h3 Лечебная физкультура
            p.text.text__small-italic
              | Направлена на профилактику возникновения заболеваний, повышение двигательной
              | активности и реабилитацию после перенесенных болезней или хирургических вмешательств
    .services__col
      article
        figure
          +shower
          figcaption
            h3.title.title__h3 Мойка, душ и гигиенический уход
            p.text.text__small-italic
              | Регулярные водные процедуры, парикмахерские услуги, стрижка ногтей обеспечат опрятность
              | и сыграют большую роль в самочувствии и комфорте с психологической точки зрения
    .services__col
      article
        figure
          +laundry
          figcaption
            h3.title.title__h3 Прачечная, глажка и смена белья
            p.text.text__small-italic
              | Своевременная смена постельного белья, полотенец, личных вещей в установленные сроки и чаще,
              | по необходимости, создадут условия для обеспечения свежести среды проживания и гигиены
    .services__col
      article
        figure
          +ambulance
          figcaption
            h3.title.title__h3 Перевозка больных
            p.text.text__small-italic
              | Легковым или специализированным автотранспортом, включая лежачих больных,
              | позволит снять заботу о проблеме с доставкой в пансионат близкого человека
    .services__col
      article
        figure
          +services
          figcaption
            h3.title.title__h3 Медицинские услуги
            p.text.text__small-italic
              | По вашей просьбе пригласим и привезем необходимых врачей и профильных специалистов для
              | проведения медицинских консультаций, доставим в специализированные центры для сдачи анализов
              | или прохождения процедур
    .services__col
      article
        figure
          +leisure
          figcaption
            h3.title.title__h3 Развлечения  и досуг
            p.text.text__small-italic
              | Регулярные прогулки на свежем воздухе, чтение книг из библиотеки пансионата,
              | общение со сверстниками, просмотр телевизора, игры в шахматы и шашки, неограниченные
              | свидания родных не заставят скучать никого из жителей пансионата
