//=== ICONS ===//
include ../../templates/mixins/icons/header/icons
include ../../templates/mixins/icons/svg-icon/icons
include ../../templates/mixins/icons/services/icons
include ../../templates/mixins/icons/number-rooms/icons
include ../../templates/mixins/icons/steps/icons
include ../../templates/mixins/icons/map/icons
include ../../templates/mixins/icons/footer/icons
include ../../templates/mixins/icons/breadcrumbs/icons
include ../../templates/mixins/icons/more-info/icons
//=== END ICONS ===//


//=== COMPONENTS ===//
include ../../templates/mixins/components/button/button
include ../../templates/mixins/components/services/services
include ../../templates/mixins/components/form/form
include ../../templates/mixins/components/modals/success-unsuccess
include ../../templates/mixins/components/modals/stocks
include ../../templates/mixins/components/modals/customer-retention
//=== END COMPONENTS ===//
