script(src='../assets/js/bundle.js')

// Yandex.Metrika counter
script(type="text/javascript").
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym(52915873, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
noscript
  div
    img(src="https://mc.yandex.ru/watch/52915873" style="position:absolute; left:-9999px;" alt="")
// /Yandex.Metrika counter

// Begin LeadBack code {literal}
script.
  var _emv = _emv || [];
  _emv['campaign'] = '9d825897e9782dc2bb2199cb';
  (function() {
    var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
    em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
  })();
// End LeadBack code {/literal}

