doctype html

block vars

html.error-404(lang="ru")
  head
    include ../../partials/head
  body.error-404__body
    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-MPTRNJR" height="0" width="0" style="display:none;visibility:hidden")
    // End Google Tag Manager (noscript)

    //== Mixins ==//
    include ../../../templates/mixins/mixins
    //== End Mixins ==//

    block content
