.header-content {
  position: relative;
  height: 100vh;
  min-height: 600px;
  @include flex-center-wrap();
  z-index: 10;
  color: $white-one;
  padding-top: 150px;
  padding-bottom: 0;
  @media only screen and (max-width: 767.98px) {
    padding-top: 0;
  }
  @media only screen and (max-width: 400px) {
    padding-top: 60px;
  }

  .container {
    position: relative;
  }

  @media only screen and (min-width: 0px) and (max-width: 575.98px) {
    background: $green-three url("#{$way-img}header-content/bg-767.jpg") no-repeat left -300px bottom / 1700px;
    overflow: visible;
    height: 100%;
    min-height: 836px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    background: $green-three url("#{$way-img}header-content/bg-767.jpg") no-repeat left -110px bottom / 1700px;
    overflow: visible;
    height: 100%;
    min-height: 836px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    background: $green-three url("#{$way-img}header-content/bg-991.jpg") no-repeat left -150px bottom / 1600px;
    overflow: visible;
    height: 100%;
    min-height: 836px;
  }

  @media only screen and (min-width: 992px) and (max-width: 1023.98px) {
    background: $green-three url("#{$way-img}header-content/bg-1023.jpg") no-repeat left -150px bottom / 1600px;
    overflow: visible;
    height: 100%;
    min-height: 837px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1279.98px) {
    background: $green-three url("#{$way-img}header-content/bg-1279.jpg") no-repeat center bottom / 1600px;
    height: 100%;
    min-height: 837px;
  }

  @media only screen and (min-width: 1280px) and (max-width: 1599.98px) {
    background: $green-three url("#{$way-img}header-content/bg-1599.jpg") no-repeat center top 70px / cover;
    height: 100%;
    min-height: 837px;
  }

  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    background: $green-three url('#{$way-img}header-content/bg-1920.jpg') no-repeat center top 70px / cover;
    height: 100vh;
  }

  @media only screen and (min-width: 1920.98px) {
    background: $green-three url('#{$way-img}header-content/bg-1920.jpg') no-repeat center top 70px /cover;
    height: 1080px;
  }

  h2 {
    font-family: $philosopher-font;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 50px;
    text-align: left;
    color: $white-one;
    line-height: 50px;
    @media only screen and (min-width: 1280px) and (max-width: 1599.98px) {
      padding-bottom: 30px;
      text-shadow: 0 0 5px $black-rgba-four;
    }
    @media only screen and (max-width: 1279.98px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media only screen and (max-width: 1023.98px) {
      line-height: 50px;
      padding-bottom: 20px;
    }
    @media only screen and (max-width: 991.98px) {
      padding-right: 30%;
    }
    @media only screen and (max-width: 767.98px) {
      padding-right: 0;
    }
    @media only screen and (max-width: 479.98px) {
      font-size: 25px;
      line-height: 40px;
      text-align: center;
    }
    @media only screen and (max-width: 310.98px) {
      font-size: 20px;
    }

    span {
      color: $green-one;
    }

    br {
      @media only screen and (max-width: 991.98px) {
        display: none;
      }
    }
  }

  &__subtitle {
    font-family: $verdana-font;
    font-weight: 100;
    font-style: italic;
    text-transform: none;
    font-size: 18px;
    padding-bottom: 64px;
    line-height: 35px;
    display: block;
    width: 100%;
    @media only screen and (min-width: 1280px) and (max-width: 1599.98px) {
      padding-bottom: 30px;
    }
    @media only screen and (max-width: 1279.98px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 1023.98px) {
      padding-bottom: 30px;
    }
    @media only screen and (max-width: 991.98px) {
      padding-right: 50%;
    }
    @media only screen and (max-width: 767.98px) {
      padding-right: 10%;
    }
    @media only screen and (max-width: 575.98px) {
      padding-right: 10%;
    }
    @media only screen and (max-width: 479.98px) {
      font-size: 14px;
      text-align: center;
      padding-right: 0;
    }

    br {
      @media only screen and (max-width: 991.98px) {
        display: none;
      }
    }
  }

  &__position {
    justify-content: flex-end;
    display: flex;
    position: relative;
  }

  &__blocks {
    display: flex;
    position: absolute;
    bottom: 70px;
    right: 0;
    z-index: 1000;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    @media only screen and (max-width: 1279.98px) {
      bottom: 0;
    }
    @media only screen and (max-width: 1023.98px) {
      bottom: -40px;
    }
    @media only screen and (max-width: 991.98px) {
      bottom: -10px;
    }
    @media only screen and (max-width: 767.98px) {
      bottom: auto;
      top: 100%;
      right: auto;
      left: 0;
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 40px;
    }

    &_item {
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 4px $black-rgba-two;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        background: $green-rgba-one;
        z-index: 1;
        left: 0;
        top: 0;
        transition: all .2s ease-in-out;
      }

      &:hover {
        &:before {
          width: 100%;
        }

        img {
          transform: scale(1.2);
        }

        p {
          visibility: visible;
          bottom: 15px;
        }
      }

      img {
        transition: all 1s ease;
      }

      p {
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        z-index: 2;
        transition: all .2s ease-in-out;
      }
    }

    &_message {
      background: $green-rgba-two;
      position: relative;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 28px 59px $black-rgba-four, 0 40px 120px $black-rgba-four;
      @media only screen and (max-width: 991.98px) {
        padding: 20px;
      }
      @media only screen and (max-width: 767.98px) {
        background: $green-rgba-three;
        box-shadow: 0 2px 10px $black-rgba-four;
      }
      @media only screen and (max-width: 350px) {
        display: none;
      }

      h2 {
        padding-bottom: 0;
        position: relative;
        font-size: 36px;
        @media only screen and (max-width: 1279.98px) {
          font-size: 30px;
        }
        @media only screen and (max-width: 1023.98px) {
          line-height: 40px;
          font-size: 25px;
        }
        @media only screen and (max-width: 991.98px) {
          padding-right: 0;
          font-size: 20px;
        }
      }

      p {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
        @media only screen and (max-width: 1279.98px) {
          position: relative;
          text-align: right;
        }
        @media only screen and (max-width: 767.98px) {
          position: absolute;
        }
        @media only screen and (max-width: 575.98px) {
          position: relative;
        }
        @media only screen and (max-width: 479.98px) {
          text-align: center;
        }
      }
    }
  }

  .button {
    @media only screen and (max-width: 479.98px) {
      margin: auto;
    }
  }
}