.information {
  position: relative;
  background: $white-one;
  padding-top: 73px;
  padding-bottom: 102px;
  @media only screen and (max-width: 1279.98px) {
    padding-top: 70px;
  }
  h2 {
    @media only screen and (min-width: 1280px) and (max-width: 1599.98px) {
      font-size: 36px;
    }
    br {
      @media only screen and (max-width: 767.98px) {
        display: none;
      }
    }
  }
  &__col {
    @media only screen and (min-width: 0px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @media only screen and (min-width: 768px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media only screen and (min-width: 1600px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    p {
      padding-bottom: 25px;
      height: 70px;
    }
    ul {
      li {
        color: $green-two;
        font-size: 20px;
        span {
          color: $grey-two;
          line-height: 25px;
          font-size: 16px;
        }
      }
    }
    &:first-child {
      @media only screen and (max-width: 1599.98px) {
        padding-bottom: 40px;
      }
    }
    &:nth-child(2) {
      @media only screen and (max-width: 1599.98px) {
        padding-bottom: 40px;
      }
    }
    &:nth-child(3) {
      @media only screen and (max-width: 767.98px) {
        padding-bottom: 40px;
      }
    }
    &:last-child {
      ul {
        li {
          color: $red-one;
          font-size: 20px;
          span {
            color: $grey-two;
            line-height: 25px;
            font-size: 16px;
          }
        }
      }
    }
  }

}